#mainsec{
    background-image: url(./1.jpg);
    padding-bottom: 3%;
    height: 605px;

}
.maindiv{
     background-color: rgb(231, 217, 190); 
    opacity: 0.5;

}

.div1{
    display: flex;
    margin-left: 20%;
   
   

}

  .nav{
   display: flex;
   margin-top: 1%;
  
} 
.nav button{
    height: 30px;
    width: 100px;
    margin-top: 1%;
    border: 2px solid blue;
    border-radius: 7%;
    color: blue;
    background-color: transparent;
    position: relative;
    left: 50%;
   
    
}
.hr{
    background-color: white;
   color: white;
   width: 46%;
   height: 3px;
   position: relative;
   top: 151px;
   right: 132px;
}
.hr1{
    background-color: white;
   
    width: 18%;
    height: 3px;
    position: relative;
    top: 139px;
    left: 350px;

}
.divb{
    border: 4px solid rgb(255, 255, 255);
    border-radius: 2px;
    border-top: none;
    width: 60%;
    height: 250px;
    
  
   margin-left: 18%;
   
   padding: 2%;
   position: relative;
   bottom: 560px;
   

}
.div2{ 
   
    font-size: 30px;
    color: white;
    position: relative;
    bottom: 60px;
    
    
  
 
    
    

}
.div2 h1{
    position: relative;
     top: 35px; 
    font-family: Arial, Helvetica, sans-serif;
}
.div2 h2{
    
    color: rgb(0, 132, 255);
    font-family: inherit;
    font-style: oblique;
    position: relative;
    bottom: 30px;
   
   
}
.div2 p{
    font-size: 15px;
    position: relative;
    bottom: 40px;
   
}
.div2 button{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 9px 28px;
    position: relative;
    bottom: 40px;
}
.img{
    margin-left: 40%;
    position: relative;
    bottom: 133px;
    left: 5px;
  
}
.sec2{
   background-color: rgb(252, 252, 241);
    
}
.div3{
   padding: 8% 16%;
}
.div3 p{
    width: 300px;
}
.div3 button{
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
}

.div3 img{
    width: 400px;
    float: right;
    position: relative;
    left: 10px;
   bottom: 280px;
 
    
}
.div4{
    position: relative;
    top: 140px;
}
.div4 img{
    width: 300px;
    
     position: relative;
    left: 150px;    
    
}
#sec3{
    background-color: rgb(231, 239, 247);
    padding-bottom: 60px;
}
.div7{
    background-color: white;
    
}
.div5{
    margin-left: 720px;
    position: relative;
    bottom: 30px;
}

.maindiv6{
    display: flex;
    margin-left: 290px; 
}

.maindiv6 div{
    
     width: 250px; 
   padding: 80px 30px;
}
.padd{
    width: 300px;
    font-size: 20px;
     margin: 1px 10px; 
   position: relative;
   right: 10px;
  
}
.padd1{
    position: relative;
    top: 20px;
    left: 5px;
  
}

.maindiv6 img{
     width: 300px; 
}
.maindiv8{
    display: flex;
    margin-left: 290px;
    margin-bottom: 10px;
}

.maindiv8 img{
    width: 310px; 

}

.maindiv8 h1{
    font-size: 20px;
}

.div9{
    background-color: white;
    width: 241px;
   
    padding: 80px 30px;
     
   
}
#sec4{
    background-image: url(./r.jpg);
}
.maindiv9{
    display: flex;
}
.maindiv9 input{
    width: 250px;
    height: 30px;
    margin: 1px;
    
    
}

.maindiv9 button{
    width: 150px;
    height: 36px;
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    position: relative;
   right: 7px;
    

}
.div10{
  
    font-size: 20px;
    padding: 100px 300px;
}
.div10 i{
  color: rgb(0, 110, 255);
  margin-top: 8px;
}
.p1{
    position: relative;
    bottom: 10px;
    color: white;
}
.p2{
    color: white;
}

.h5{
    margin-left: 670px;
    padding-top: 40px;

}
.div11{
 display: flex; 


}

.div11 button{
  
    font-size: 20px;
    margin: 160px;
    color: rgb(0, 119, 255);
    border: solid rgb(0, 119, 255) 2px;

    border-radius: 50%;
    position: relative;
    left: 35px;
    bottom: 70px;
}
#sec5{

    padding-bottom: 350px;
}
.div12{
    display: flex;
    padding-left: 110px;
}

.div14{
    font-size: 13px;
    margin-left: 50px;
    
    position: relative;
    
    bottom: 170px;


}

.div14 h1{
    position: relative;
    right: 40px;
}
.div14 img{
    width: 100px;
}
.div14 p{
    width: 300px;
    position: relative;
    right: 80px;
    bottom: 10px;
}

#sec6{
background-image: url(./IMG20210727172223.jpg);
padding-bottom: 300px;
position: relative;
bottom: 100px;

}

.div15{
    display: flex;
    margin-left: 55px;
}

.div15 img{
    width: 250px;
    margin: 10px;
    position: relative;
    bottom: 200px;
    border: solid black 4px;
    border-radius: 6px;
}

#sec6 h1{
    margin-left: 650px;
    position: relative;
    bottom: 260px;
}
#sec7{
    padding-bottom: 100px;
}

#sec7 h1{
    margin-left: 700px;
    position: relative;
    bottom: 20px;
  
    
}
.div16{
    display: flex;
    margin-left: 200px;
    
   
}

.div17 img{
    width: 280px;
    display: flex;
    margin: 15px;
    border: solid red 3px;
    border-radius: 4px;

    
}

.div18 img{
    width: 300px;
    display: flex;
    margin: 15px;
    border: solid red 3px;
    border-radius: 4px;

    
}

.div19 img{
    width: 400px;
    height: 310px;
    display: flex;
    margin: 15px;
    border: solid red 3px;
    border-radius: 4px;

}

.imga{
    height: 322px;
}

.imgb{
    height: 302px;
}

.div20{
   background-color: rgb(211, 219, 223);
   display: flex;
   margin-top: 30px;
}
.div20 h4{
 padding: 20px;
    margin-left: 170px;
}

#sec8{
    background-image: url(./ww.jpg);
    position: relative;
    bottom: 50px;
    
}
#sec8 h1{
    margin-left: 650px;
    position: relative;
    top: 100px;
   

}

.div21{
    display: flex;
   position: relative;
   bottom: 200px;
   font-size: 18px;
  padding: 300px;
}
.div22{
    display: flex;
    position: relative;
    bottom: 500px;
    margin-left: 300px;
}
.div22 img{
    width: 50px;
    border-radius: 50%;
}
.div23{
    display: flex;
    position: relative;
    bottom: 550px;
    margin-left: 750px;
}
.div23 img{
    width: 50px;
    border-radius: 50%;
}


.div24{
    margin-left: 500px;
    position: relative;
    bottom: 300px;
   
}

 .p11{
    margin-left: 20px;
    font-size: 35px;
}


.p12{
    font-size: 19px;
    margin-left: 20px;
}




input {
     display: flex; 
    width: 400px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 4px;
}
.button1{
    width: 410px;
   font-size: 20px;
    margin-left: 20px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    padding: 20px;
    


}
.div25{
    background-color: transparent;
    border-radius: 20px;
    box-shadow: rgba(12, 73, 122, 0.95) 20px -24px 90px -20px, rgba(214, 11, 11, 0.3) 50px 30px 60px -30px, rgba(51, 233, 14, 0.35) 0px -2px 6px 0px inset;
    width: 450px;
    height: 500px;
    padding: 10px;

}
.p11{
    margin-left: 150px;
    color: rgb(0, 162, 255);
  
}
.p12{
    margin-left: 70px;
    font-size: 25px;

}

